---
import { getLaunches } from '../services/spaceX';
import LaunchCard from './LaunchCard.astro';

interface Props {
  oldest?: boolean;
}

const { oldest } = Astro.props;
const sort = oldest ? 'asc' : 'desc';
const launches = await getLaunches(sort);
---

<div class='grid gap-8 sm:grid-cols-2 lg:grid-cols-3 text-center mt-8'>
  {
    launches.map(({ id, name, links, success, flight_number, details }) => (
      <LaunchCard
        id={id}
        name={name}
        img={links.patch.small}
        success={success}
        flightNumber={flight_number}
        details={details}
      />
    ))
  }
</div>
